<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/chamomile16x16.gif">
         <run
               class="org.udiga.ddt.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="DDT Perspective"
            class="org.udiga.ddt.view.Perspective"
            id="ddt.views.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ddt.views.category"
            class="org.udiga.ddt.view.NavigatorView"
            icon="icons/chamomile16x16.gif"
            id="ddt.views.navigator"
            name="Navigator"
            restorable="true">
      </view>
      <category
            id="ddt.views.category"
            name="DDT Category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="ddt.views.navigator">
      </viewer>
      <viewerContentBinding
            viewerId="ddt.views.navigator">
         <includes>
            <contentExtension
                  pattern="ddt.navigator.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.udiga.ddt.navigator.EmpContentProvider"
            id="ddt.navigator.empContent"
            labelProvider="org.udiga.ddt.navigator.EmpLabelProvider"
            name="Emp content">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.udiga.ddt.model.Root">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.udiga.ddt.navigator.PersonContentProvider"
            id="ddt.navigator.personContent"
            labelProvider="org.udiga.ddt.navigator.PersonLabelProvider"
            name="Persons">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.udiga.ddt.model.Emp">
               </instanceof>
            </or>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ddt.views.perspective">
         <view
               id="ddt.views.test1"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ddt.views.perspective">
         <view
               id="ddt.views.test1"
               minimized="false"
               ratio="0.25"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               ratio="0.5"
               relationship="bottom"
               relative="ddt.views.test1"
               showTitle="true">
         </view>
      </perspectiveExtension>
   </extension>
   -->
</plugin>
